modules/swachilexpress/internalws/GenerarOTDigitalIndividualC2C.wsdl

<WL5G3N0:definitions xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.chilexpress.cl/IntegracionAsistida/" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/soap/" name="IntegracionAsistida" targetNamespace="http://www.chilexpress.cl/IntegracionAsistida/">
<WL5G3N0:types>
<xs:schema xmlns:giarp="http://ws.chilexpress.cl/OSB/INTERNO/COM/GenerarIntegracionAsistidaResp" xmlns:giarq="http://ws.chilexpress.cl/OSB/INTERNO/COM/GenerarIntegracionAsistidaReq" xmlns:hdrp="http://ws.chilexpress.cl/OSB/EBO/HeaderResponse" xmlns:hdrq="http://ws.chilexpress.cl/OSB/EBO/HeaderRequest" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.chilexpress.cl/IntegracionAsistida/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.chilexpress.cl/IntegracionAsistida/">
<xs:import namespace="http://ws.chilexpress.cl/OSB/EBO/HeaderRequest" schemaLocation="http://qaws.ssichilexpress.cl:80/OSB/GenerarOTDigitalIndividualC2C?SCHEMA%2FUT000001_EsquemasComunes%2FResources%2FSchemas%2FEBO%2FHeaderRequest"/>
<xs:import namespace="http://ws.chilexpress.cl/OSB/EBO/HeaderResponse" schemaLocation="http://qaws.ssichilexpress.cl:80/OSB/GenerarOTDigitalIndividualC2C?SCHEMA%2FUT000001_EsquemasComunes%2FResources%2FSchemas%2FEBO%2FHeaderResponse"/>
<xs:import namespace="http://ws.chilexpress.cl/OSB/INTERNO/COM/GenerarIntegracionAsistidaReq" schemaLocation="http://qaws.ssichilexpress.cl:80/OSB/GenerarOTDigitalIndividualC2C?SCHEMA%2FPX200156_GenerarIntegracionAsistidaCOMP%2FResources%2FSchemas%2FGenerarIntegracionAsistidaReq"/>
<xs:import namespace="http://ws.chilexpress.cl/OSB/INTERNO/COM/GenerarIntegracionAsistidaResp" schemaLocation="http://qaws.ssichilexpress.cl:80/OSB/GenerarOTDigitalIndividualC2C?SCHEMA%2FPX200156_GenerarIntegracionAsistidaCOMP%2FResources%2FSchemas%2FGenerarIntegracionAsistidaResp"/>
<xs:element name="headerRequest" type="hdrq:datosHeaderRequest"/>
<xs:element name="headerResponse" type="hdrp:datosHeaderResponse"/>
<xs:element name="IntegracionAsistidaRequest">
<xs:complexType>
<xs:sequence>
<xs:element ref="giarq:reqGenerarIntegracionAsistida"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="IntegracionAsistidaResponse">
<xs:complexType>
<xs:sequence>
<xs:element ref="giarp:respGenerarIntegracionAsistida"/>
</xs:sequence>
</xs:complexType>
</xs:element>
</xs:schema>
</WL5G3N0:types>
<WL5G3N0:message name="IntegracionAsistidaReq">
<WL5G3N0:part element="WL5G3N1:IntegracionAsistidaRequest" name="IntegracionAsistidaReqParam"/>
</WL5G3N0:message>
<WL5G3N0:message name="IntegracionAsistidaResp">
<WL5G3N0:part element="WL5G3N1:IntegracionAsistidaResponse" name="IntegracionAsistidaRespParam"/>
</WL5G3N0:message>
<WL5G3N0:message name="headerRequestMessage">
<WL5G3N0:part element="WL5G3N1:headerRequest" name="headerRequest"/>
</WL5G3N0:message>
<WL5G3N0:message name="headerResponseMessage">
<WL5G3N0:part element="WL5G3N1:headerResponse" name="headerResponse"/>
</WL5G3N0:message>
<WL5G3N0:portType name="IntegracionAsistidaPT">
<WL5G3N0:operation name="IntegracionAsistidaOp">
<WL5G3N0:input message="WL5G3N1:IntegracionAsistidaReq"/>
<WL5G3N0:output message="WL5G3N1:IntegracionAsistidaResp"/>
</WL5G3N0:operation>
</WL5G3N0:portType>
<WL5G3N0:binding name="IntegracionAsistidaSOAP" type="WL5G3N1:IntegracionAsistidaPT">
<WL5G3N2:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<WL5G3N0:operation name="IntegracionAsistidaOp">
<WL5G3N2:operation style="document"/>
<WL5G3N0:input>
<WL5G3N2:header message="WL5G3N1:headerRequestMessage" part="headerRequest" use="literal"/>
<WL5G3N2:body use="literal"/>
</WL5G3N0:input>
<WL5G3N0:output>
<WL5G3N2:header message="WL5G3N1:headerResponseMessage" part="headerResponse" use="literal"/>
<WL5G3N2:body use="literal"/>
</WL5G3N0:output>
</WL5G3N0:operation>
</WL5G3N0:binding>
<WL5G3N0:service name="IntegracionAsistida">
<WL5G3N0:port binding="WL5G3N1:IntegracionAsistidaSOAP" name="IntegracionAsistidaSOAP">
<WL5G3N2:address location="http://qaws.ssichilexpress.cl/OSB/GenerarOTDigitalIndividualC2C"/>
</WL5G3N0:port>
</WL5G3N0:service>
</WL5G3N0:definitions>